/* variables */
:root {
/* --subcolor: #14c835; */
--subcolor: rgba(208, 108, 108, 0.9);
}

#textColor {
    color:var(--subcolor);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Source Sans Pro;
    background-image: url("https://i.pinimg.com/originals/a6/12/11/a61211d4bae2f8957bf921fad6cb5258.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

/* first page background */
#container1 {
    height: 100vh;
    width: 100%;
    margin-top: 12vh;
}

/* vertical line and unicons */
#unicon1 {
    display: flex;
    position: fixed;
    flex-direction: column;
    margin-left: 4.1vw;
    margin-top: 56vh;
    transition: 0.5s;
}

#unicon2 {
    display: flex;
    position: fixed;
    flex-direction: column;
    margin-left: 4.1vw;
    margin-top: 62.5vh;
    transition: 0.5s;
}

#unicon3 {
    display: flex;
    position: fixed;
    flex-direction: column;
    margin-left: 4.1vw;
    margin-top: 69.5vh;
    transition: 0.5s;
}

#unicon1:hover, #unicon2:hover, #unicon3:hover {
    transform: translateY(-5px);
}

#github, #linkedin, #mail {
    font-size: 1.6rem;
    position: fixed;
}

#github:hover, #linkedin:hover, #mail:hover {
    color: var(--subcolor);
}

.vl {
    position: fixed;
    border-left: 2px solid black;
    height: 12%;
    margin-top: 76vh;
    margin-left: 5vw;
}
/* SIDE NAV MEDIA QUERIES */

@media (max-width: 1000px) {
    #unicon1, #unicon2, #unicon3 {
        margin-left: 3.7vw;
    }
}

@media (max-width: 750px) {
    #unicon1, #unicon2, #unicon3 {
        margin-left: 3.35vw;
        margin-top: 30vw;
    }
    #github, #linkedin, #mail {
        font-size: 1.5rem;
    }
    #unicon1 {
        margin-top: 57.5vh;
        margin-left: 3.1vw;
    }
    #unicon2 {
        margin-top: 63.5vh;
        margin-left: 3.1vw;
    }
    #unicon3 {
        margin-top: 70vh;
        margin-left: 3.1vw;
    }
}

@media (max-width: 750px) {
    
}

@media (max-height: 500px) {
    #unicon1 {
        margin-top: 51vh;
    }
    #unicon2 {
        margin-top: 58.5vh;
    }
    #unicon3 {
        margin-top: 67vh;
    }
}

@media (max-height: 300px) {
    #unicon1 {
        margin-top: 35vh;
    }
    #unicon2 {
        margin-top: 48.5vh;
    }
    #unicon3 {
        margin-top: 63vh;
    }
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1000;
    background-color:rgb(0,0,0, 0.9);
    width: 100%;
    height: 53px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

#logo {
    cursor: pointer;
    margin: 2px 30px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.nav-links {
    display: flex;
    text-align: center;
    margin-right: 2vw;
}

.nav-links li {
    display: inline-block;
    margin: 17px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    font-size: 15px;
    color: white;
}

.nav-links li a:hover {
    font-weight: 900;
    /* color: rgb(188, 188, 188); */
    color: var(--subcolor);
}

/* HOME SECTION */
/*  */
/*  */
/*  */

#home {
    font-family: Chivo;
}
#home p1 {
    display: flex;
    padding: 2% 15%;
    padding-top: 6%;
    font-size: 2vw;
}

#home h1 {
    display: flex;
    font-size: 6vw;
    padding: 0% 15%;
}

#home p3 {
    display: flex;
    margin-left: 15vw;
    margin-top: 23px;
    font-size: 3.4vw;
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 3;
}

#home p2 {
    display: flex;
    font-family: Roboto Slab;
    font-size: 18px;
    margin-left: 15vw;
    margin-top: 20px;
    line-height: 6vh;
    margin-bottom: 20px;
}

#resume-button {
    font-size: 18px;
    font-weight: 900;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 10px 15px;
    margin-left: 15vw;
}

#resume-button:hover {
    color: white;
    background-color: rgb(0, 0, 0);
}

/* ABOUT SECTION */
/*  */
/*  */
/*  */

/* full screen background */
#container2 {
    height: 100vh;
    width: 100%;
    background-color: whitesmoke; 
    padding-top: 0.01vw;
    padding-bottom: 5vw;
}

/* text styling */
#about {
    display: flex;
    flex-direction: column;
    font-size: 70px;
    padding: 0% 14%;
    font-family: Chivo;
    margin-top: 10vh;
}
#about h1 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

#about h1::before,
#about h1::after {
    display: inline-block;
    content: "";
    border-top: 1px solid rgb(155, 155, 155);
    width: 100%;
    margin: 0 0.8rem;
    transform: translateY(1.3rem);
}
/* about text and containers */
#about-container {
    display: grid;
    grid-template-columns: 33vw 34vw; 
    grid-column-gap: 10vw;
    margin-top: 1vw;
}

#about-subheadings {
    display: flex;
}

#aboutbox1 {
    display: grid;
    grid-column: 1/2;
    margin-top: 1vw;
    width: 600px;
    height: auto;
}

#aboutbox2 {
    display: grid;
    grid-column: 1/2;
    width: 600px;
    height: auto;
}

#aboutbox3 {
    display: grid;
    grid-column: 1/2;
    width: 600px;
    height: auto;
}

/* media query here for above */
/* change aboutbox width */

/* "introduction" */
#intro {
    font-family: Roboto Slab;
    font-size: 22px;
    font-weight: bold;
    color:rgb(0, 0, 0, 0.7);
    /* color: var(--subcolor); */
    margin: 2vw 0 0 0.8vw;
}

#about p2 {
    font-family: Roboto Slab;
    font-size: 17px;
    line-height: 2.5vw;
    margin-top: 1.5vw;
    margin-left: 0.8vw;
} 



@media (max-width: 1230px) {
    #about p2 {
        font-size: 16px;
        line-height: 3vw;
    }
    #aboutbox1, #aboutbox2, #aboutbox3 {
        width: 500px;
    }
    .border2 {
        width: 20vw;
        margin: 5vw 0 0 50vw;
        height: 100vw;
    }
}

@media (max-width: 1075px) {
    #about p2 {
        font-size: 15px;
        line-height: 3vw;
    }
    #aboutbox1, #aboutbox2, #aboutbox3 {
        width: 390px;
    }
}

@media (max-width: 800px) {
    #about p2 {
        font-size: 14px;
        line-height: 4vw;
    }
    #aboutbox1, #aboutbox2, #aboutbox3 {
        width: 320px;
    }
}

@media (max-width: 650px) {
    #about p2 {
        font-size: 15px;
        line-height: 4vw;
    }
    #aboutbox1, #aboutbox2, #aboutbox3 {
        width: 240px;
    }
}

@media (max-width: 500px) {
    #about p2 {
        line-height: 5vw;
    }
    #aboutbox1, #aboutbox2, #aboutbox3 {
        width: 240px;
    }
}

@media (max-height: 650px) {
    #about p2 {
        font-size: 12px;
    
    }
}

@media (max-height: 620px) {
    #about p2 {
        font-size: 10px;
    }
}

@media (max-height: 510px) {
    #about p2 {
        font-size: 8px;
    }
}

@media (max-height: 410px) {
    #about p2 {
        font-size: 9px;
    }
    #aboutbox1, #aboutbox2, #aboutbox3 {
        width: 360px;
    }
    #intro {
        font-size: 16px;
    }
}

/* technologies text */
#about h2 {
    font-family: Roboto Slab;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    text-decoration: none;
    position: relative;
    margin-top: 1vw;
}

#about h2:after {
    content: '';
    width: 70%;
    position: absolute;
    left: 40;
    bottom: 3vw;
    border-bottom: 0.5px;
    border-style: solid;
}

#about p1 {
    font-family: Roboto Slab;
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-top: -0.5vw;
    line-height: 0px;
}

/* self portrait */
/* .portrait {
    transform: translate(22%, -132%);
    z-index: 2;
}

.portrait img {
    width: 250px;
    height: 250px;
    border-radius: 0%;
} */

/* border divs */
.border1 { 
    box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.13), -2px -1px 8px rgba(0,0,0,0.13);
    position: absolute;
}

.border1 {
    display: grid;
    grid-column: 2/3;
    background-color: rgb(248, 248, 248);
    border: 0px solid black;
    width: 20vw;
    margin: 7vw 0 0 50vw;
    height: 22vw;
}

.border1:hover { 
    transform: translateY(-4px) translateX(4px);
}

@media (max-width: 1000px) {
    .border1 {
        width: 20vw;
        margin: 10vw 0 0 50vw;
        height: 40vw;
    }
    #about p1 {
        font-size: 12px;
    }
}

/* WORKS SECTION */
/*  */
/*  */
/*  */

#container3 {
    height: 90vh;
    width: 100%;
    padding-top: 4vw;
    /* background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(240, 240, 240) 100%);  */
}

#works {
    display: flex;
    flex-direction: column;
    padding: 0% 14%;
    font-family: Chivo;
    margin-top: 2vh;
}

#works h1 {
    display: flex;
    justify-content: center;
    margin-top: 0vw;
    font-size: 2rem;
}

#works h1::before,
#works h1::after {
    display: inline-block;
    content: "";
    border-top: 1px solid rgb(155, 155, 155);
    width: 100%;
    margin: 0 0.8rem;
    transform: translateY(1.3rem);
}

/* grid container for projects */
#works-container {
    display: grid;
    justify-content: center;
    margin-top: 5vw;
    grid-template-columns: 33vw 33vw; 
    grid-template-rows: auto auto;
    grid-gap: 3vw;
}

.work-image-container {
    position: relative;
}

.work-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0; 
    transition: opacity 0.6s;
    border-radius: 5px;
}

.overlay > * {
    transform: translateY(70px);
    transition: transform 0.5s;
}

.overlay:hover > * {
    transform: translateY(0);
}

.overlay:hover {
    opacity: 1;
}

.img-title {
    font-size: 22px;
    font-weight: bold;
}

.img-desc {
    font-size: 15px;
    margin: 10px 40px 0px 40px;
    text-align: center;
    line-height: 2vw;
}

/* for the github and external link icons */
#code-links {
    position: absolute;
    display: flex;
    margin-top: 14vw;
    margin-left: 24.5vw;
}

#source-code, #website {
    color: white;
    font-size: 24px;
}

/* extra hover animation */
/* #github-unicon:hover, #website-unicon:hover {
    transform: translateY(-5px);
} */

#source-code:hover, #website:hover {
    color: var(--subcolor);
}

#website {
    padding-left: 1.5vw;
}

/* media queries for the work section */
@media (max-width: 1200px) {
    .img-desc {
        font-size: 14px;
        line-height: 2.5vw;
    }
    #source-code, #website {
        font-size: 20px;
    }
}

@media (max-width: 1000px) {
    #works-container {
    grid-template-columns: 50vw; 
    grid-template-rows: auto auto;
    width: 100%;
    justify-items: center;
    }
    .img-desc {
        font-size: 16px;
        line-height: 4vw;
    }
    #code-links {
        margin-top: 26vw;
        margin-left: 47vw;
    }
    #source-code, #website {
        font-size: 25px;
    }

    #website {
        padding-left: 2vw;
    }
    #container3 {
    height: 110vh;
    }
}

@media (max-width: 660px) {
.img-desc {
    font-size: 12px;
    line-height: 5vw;
}

#source-code, #website {
    font-size: 18px;
}

#code-links {
    margin-left: 47vw;
}
#container3 {
    height: 80vh;
    }
}

/* CONTACT SECTION */
/*  */
/*  */
/*  */

#container4 {
    width: 100%;
    height: 70vh;
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
    /* background: url("https://i.pinimg.com/originals/7f/e7/74/7fe774bbacce09f00cb5b2e3cbc48db3.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%; */
}

#yinyang {
    font-size: 90px;
    margin-top: 3vw;
}
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Garamond;
}

#contact h1{
    margin-top: 1vw;
    font-size: 50px;
}

#contact p1{
    margin-top: 2vw;
    text-align: center;
    font-size: 17px;
    line-height: 3vw;
}

#contact-mail-link {
    font-size: 24px;
    margin-top: 3vw;
    cursor: pointer;
    color: white;
}

#contact-mail-link:hover {
    transform: scale(1.1);
    color: var(--subcolor);
}

@media (max-width: 1000px) {
    #contact p1 {
        line-height: 4vw;
    }
}

@media (max-width: 600px) {
    #contact p1 {
        line-height: 5vw;
    }
}

/* footer */
#container5 {
    height: 5vh;
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 12px;
}
#footer p3 {
    padding-bottom: 5vh;
}
